@font-face {
  font-family: "iconfont"; /* Project id 3448633 */
  src: url('iconfont.woff2?t=1654373860883') format('woff2'),
       url('iconfont.woff?t=1654373860883') format('woff'),
       url('iconfont.ttf?t=1654373860883') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e600";
}

.icon-weibo:before {
  content: "\e63d";
}

.icon-twitter-circle-fill:before {
  content: "\e88a";
}

.icon-youtube:before {
  content: "\e85a";
}

.icon-facebook:before {
  content: "\f19d";
}

.icon-in:before {
  content: "\e64d";
}

.icon-dianhua:before {
  content: "\e653";
}

.icon-qq:before {
  content: "\e62c";
}

.icon-huidaodingbu:before {
  content: "\e619";
}

.icon-jiantou:before {
  content: "\e629";
}

.icon-tongyong-xiangyoujiantou:before {
  content: "\e6fa";
}

.icon-sousuo:before {
  content: "\e61c";
}

.icon-denglu:before {
  content: "\e603";
}

.icon-shizhong:before {
  content: "\e668";
}

.icon-zhinanzhen:before {
  content: "\eae9";
}

.icon-gouwuche:before {
  content: "\e601";
}

.icon-denglu-yonghu:before {
  content: "\e669";
}

.icon-dingwei:before {
  content: "\e60a";
}

.icon-code-branch:before {
  content: "\e993";
}

